.card
{
    width: 200px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: hsl(221, 60%, 60%);
    box-shadow: rgba(225, 229, 234, 0.2) 0px 8px 24px;
    margin: 10px;
    padding: 10px;
    object-fit: cover;
    overflow: hidden;
}
.card img{
    width: 100px;
    height:100px;
}




